<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-12 col-lg-8">
      <div class="card">
        <section class="card-body">
          <h2>Edit <%= resource_name.to_s.humanize %></h2>

          <%= render 'edit_form' %>
        </section>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-2">
    <div class="col col-md-6 col-lg-4">
      <div class="card">
        <section class="card-body">
          <h3>Cancel my account</h3>

          <p><%= t('unhappy') %>? 🥺</p>
          <%= button_to t('auth.cancel_my_account'),
                        registration_path(resource_name),
                        data: { confirm: t('confirm') },
                        method: :delete,
                        class: 'btn btn-danger btn-block' %>
        </section>
      </div>
    </div>
  </div>
</div>
