<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-6 col-lg-4">
      <div class="card">
        <section class="card-body">
          <%= link_to t('auth.sign_in'), new_session_path(resource_name), class: 'float-right btn btn-outline-primary' %>
          <h4 class="card-title mb-4 mt-1">Sign up</h4>

          <%= render 'devise/registrations/new_form' %>
        </section>
      </div>
    </div>
  </div>
</div>
