<% if resource.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <% resource.errors.full_messages.each do |message| %>
      <p class="mb-0  "><%= message %></p>
    <% end %>
  </div>
<% end %>
