<div class="container mt-2">
  <div class="row justify-content-center">
    <% if notice %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-warning"><%= alert %></p>
    <% end %>
    <% if flash[:errors] %>
      <div class="alert alert-danger">
        <% flash[:errors].each do |error| %>
          <p class="mb-0"><%= error %></p>
        <% end %>
      </div>
    <% end %>
    <% if flash[:success] %>
      <p class="alert alert-success"><%= flash[:success] %></p>
    <% end %>
  </div>
</div>
