<footer>
  <div class="d-flex justify-content-center">
    <span class="text-muted">
      This project is a Ruby/Rails Internal Certification for
      <%= link_to 'Nimble', "https://nimblehq.co/", target: "_blank" %>.
    </span>
  </div>
</footer>
