<div class="d-inline d-md-none">
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilters" aria-controls="offcanvasFilters">
    <i class="bi bi-sliders">
    </i>
  </button>
</div>
