<%= form_for(csv_form, as: CSVUploadForm, url: keywords_path, html: { method: :post, multipart: true, class:'form-csv-upload' }) do |f| %>
  <div class="row mb-3">
    <div class="col-12 col-lg-4 col-md-6">
      <div class="custom-file">
        <%= f.label :file, t('csv.upload_btn'), class: 'custom-file-label' %>
        <%= f.file_field :file, required: true, class: 'form-control custom-file-input' %>
      </div>
    </div>
  </div>
<% end %>
