<div class="d-flex flex-row list-keywords-group mb-2">
  <div class="list-keywords-group__header">
    <h2 class="mb-0">
      <%= group_key %>
    </h2>
  </div>
  <ul class="list-inline mb-0">
    <% group_keywords.each do |keyword| %>
      <li class="list-inline-item list-keywords-item"><%= keyword.name %></li>
    <% end %>
  </ul>
</div>
<hr/>
