<section class="list-keyword">
  <% if keywords.groups.any? %>
    <% keywords.groups.each do |group_key, group_keywords| %>
      <%= render 'list_keywords_group', group_key: group_key, group_keywords: group_keywords %>
    <% end %>
    <div class="d-flex justify-content-around">
      <%== pagy_bootstrap_nav(pagy) %>
    </div>
  <% else %>
    <div class="alert alert-light"><%= t('keywords.empty_list') %></div>
  <% end %>
</section>
