<div class="d-flex flex-row list-keyword-group mb-2">
  <div class="list-keyword-group__header">
    <h2 class="mb-0">
      <%= group_key %>
    </h2>
  </div>
  <ul class="list-inline mb-0">
    <% group_keywords.each do |keyword| %>
      <li class="list-inline-item list-keyword-item">
        <%= link_to keyword.name, keyword_path(keyword.id), data: { turbo_frame: 'frame_keyword_show' } %>
      </li>
    <% end %>
  </ul>
</div>
<hr/>
